.quantity-selector-group {
    .btn-minus {
        border-radius: 13px 0 0 13px;
        background-color: #fff;
    }

    .btn-plus {
        border-radius: 0 13px 13px 0;
        background-color: #fff;
    }
}