{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    <!-- OBSTKISTEN-THEME-HEADER-START -->
        {% block layout_top_bar %}
            {{ parent() }}
        {% endblock %}

        {% block layout_header_navigation %}
            {{ parent() }}
        {% endblock %}
        
        {# Füge die Navigation manuell hinzu, OHNE parent() aufzurufen #}
        <div class="nav-main">
            {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
        </div>´´
    <!-- OBSTKISTEN-THEME-HEADER-END -->
{% endblock %}