// Product box variables
$card-radius: 13px;
$card-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
$card-bg: transparent;
$card-text-color: #323238;
$discount-color: #ef233c;
$price-color: #000000;
$original-price-color: #999;
$rating-star-color: #FFA726;
$badge-sale: #ef233c;
$badge-text: #fff;
$primary-button: #0ac183;

.product-action {
  margin-top: 0px !important;
}

// Main product box container
.product-box {
  margin-bottom: 20px;
  height: auto;
  background-color: $card-bg !important;
  border: none !important;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  
  &:hover {
    z-index: 1;
    transform: translateY(-5px);
    
    .product-image-wrapper img {
      transform: scale(1.05);
    }
  }
  
  // Card reset
  .card-body {
    background: #fff;
    border: 1px solid #ededed !important;
    padding: 10px !important;
    border-radius: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  // Image styling
  .product-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    border-radius: $card-radius;
    flex-basis: auto;
    flex-grow: 0;
    height: auto;
    aspect-ratio: 1/0.8; /* Maintain square aspect ratio */
    background-color: #fff;
    padding: 0; 
    border: 1px solid #ededed;
    
    .product-image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .product-image-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  // Product info container
  .product-info {
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: $card-radius;
  }
  
  // Product name styling
  .product-name {
    font-size: 0.95rem;
    line-height: 1.3;
    margin-bottom: 8px;
    margin-top: 8px;
    color: $card-text-color;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    &:hover {
      color: darken($card-text-color, 20%);
    }
  }
  
  // Rating and reviews styling
  .product-rating {
    margin-bottom: 8px;
    font-size: 0.8rem;
    
    .point-rating.point-full svg {
      color: $rating-star-color !important;
    }
  }
  
  // Price container
  .product-price-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: auto;
  }
  
  // Current price styling
  .product-price-current {
    font-family: 'Inter', sans-serif;
    color: $price-color;
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 10px;
  }
  
  // Original price
  .product-price-original {
    color: $original-price-color;
    text-decoration: line-through;
    font-size: 0.9rem;
    font-weight: 400;
  }
  
  // Discount percentage
  .product-discount-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $discount-color;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: auto;
  }
  
  // Product badges
  .product-badges {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    pointer-events: none;
    
    .badge {
      display: inline-block;
      font-size: 0.8rem !important;
      font-weight: 500;
      padding: 4px 7px !important;
      border-radius: 7px !important;
      margin-right: 4px;
      margin-bottom: 4px;
      height: auto !important;
      line-height: 1rem !important;
      box-shadow: 0 1px 2px 0 #0000001a;

      &.bg-danger {
        background-color: $badge-sale !important;
        color: $badge-text;
      }
    }
  }
  
  // Action button
  .product-action-container {
  
    .btn-buy, .btn-detail {
      width: 100%;
      border-radius: $card-radius !important;
      background-color: $primary-button !important;
      border-color: #23b181 !important;
      font-size: 0.9rem;
      padding: 4px 15px;
      font-weight: 500;
      transition: all 0.2s ease;
      
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
