{% block component_delivery_information %}
    {% set downloadFlag = constant('Shopware\\Core\\Content\\Product\\State::IS_DOWNLOAD') %}

    {# @var product \Shopware\Core\Content\Product\ProductEntity #}
    {% if page is defined and page.product is defined %}
        {% set product = page.product %}
    {% endif %}

    <div class="product-delivery-information">
    <span class="d-block">
    {% set days = ['So.', 'Mo.', 'Di.', 'Mi.', 'Do.', 'Fr.', 'Sa.'] %}
    {% set monthNames = ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'] %}
    {% set futureDateMin = date('now')|date_modify('+' ~ product.deliveryTime.min ~ ' days') %}
    {% set futureDateMax = date('now')|date_modify('+' ~ product.deliveryTime.max ~ ' days') %}
    {{ 'Zwischen ' }}
    <span class="fw-semibold">
        {{ days[date(futureDateMin)|date('w')] ~ ' ' ~ futureDateMin|date('d') ~ '. ' ~ monthNames[date(futureDateMin)|date('n')-1] }}
    </span>
    {{ ' und ' }}
    <span class="fw-semibold">
        {{ days[date(futureDateMax)|date('w')] ~ ' ' ~ futureDateMax|date('d') ~ '. ' ~ monthNames[date(futureDateMax)|date('n')-1] }}
    </span>
</span>
    </div>
{% endblock %}