{% block layout_header_actions_account_widget %}
    <div class="dropdown">
<a class="header-action-link"
                    type="button"
                    id="accountWidget"
                    data-account-menu="true"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    aria-label="{{ 'account.myAccount'|trans|striptags }}"
                    title="{{ 'account.myAccount'|trans|striptags }}"
                    style="text-decoration:none!important;">
                <div class="header-action-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <div class="header-action-text d-none d-lg-block">
                    <span>Account</span>
                </div>
            </a>
            
            <div class="dropdown-menu dropdown-menu-end account-menu-dropdown js-account-menu-dropdown"
                 aria-labelledby="accountWidget">
                {% sw_include '@Storefront/storefront/layout/header/account-menu.html.twig' %}
            </div>
        </div>
{% endblock %}