{% block layout_header_actions_cart_widget %}
<div class="header-action-item">
<div
                                            class="header-cart"
                                            data-off-canvas-cart="true"
                                        >
                                        <a class="header-action-link"
                                           style="text-decoration:none!important;cursor:pointer;"
                                           title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                           aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                            <div class="header-action-icon position-relative">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                                    <path d="M16 10a4 4 0 0 1-8 0"></path>
                                                </svg>
                                            </div>
                                            <div class="header-action-text d-none d-lg-block">
                                                <span>Warenkorb</span>
                                            </div>
                                        </a>
                                        </div>
                                    </div>
{% endblock %}